.primaryBackground {
  background: #3F51B5;
}

.anonymous {
  margin-top: 50px;
  text-align: center;
  width: 330px;

  .form {
    margin-top: 50px;

    .cardTitle {
      border-bottom: 1px solid rgba(0,0,0,.1);
    }

    .cardActionButton {
      color: rgba(0,0,0,.32);
      display: block;
      text-transform: none;
    }

    .primaryButton {
      display: block;
      margin-top: 16px;
    }

    .secondaryButton {
      color: rgba(255,255,255,.64);
      display: block;
      margin-top: 30px;
      margin-bottom: 30px;
      text-transform: none;
    }
  }
}
